body {
    background-color: #ecf0f5;
}

.panel > .panel-heading {
    position: relative;
}

.panel.todo > .panel-heading {
    background-color: #d9edf7;
}

.panel.doing > .panel-heading {
    background-color: #fcf8e3;
}

.panel.done > .panel-heading {
    background-color: #dff0d8;
}

.panel > .panel-heading > h2 {
    margin: 4px;
    font-size: 16px;
    text-transform: uppercase;
}

.panel > .panel-heading > .btn-heading {
    position: absolute;
    right: 4px;
    top: 4px;
}

.list-unstyled {
    margin-bottom: 0;
}

.list-unstyled > li {
    padding: 10px 15px;
    min-height: 20px;
    border-bottom: 1px solid #eee;
}

.list-unstyled li:last-child {
    border-bottom: none;
}



